<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>

        <h1>Liste des Livres</h1>

        <br><br>
        <form action="/livres" method="POST">
            <input type="text" name="titre" placeholder="Nom" required value="<%= livre.titre %>">
            <input type="text" name="auteur" required placeholder="Age" value="<%= livre.auteur %>">
            <input type="number" name="date" placeholder="date" required value="<%= livre.date %>">
            <input type="resume" name="resume" required placeholder="resume" value="<%= livre.resume %>">
            <button type="submit">Modifier le  Livre</button>

        </form>

    </div>

</body>
</html>